<h1>About</h1>
<p>Welcome to the APO OI Office Management site!</p>
<p>In the time of COVID, we're taking precautions to minimize contact with fellow brothers, and this site is one piece of it. </p>
<h2>Office Procedures</h2>
<ul>
  <li>Only execs and those with explicit permission may enter the office.</li>
  <ul><li>This is because the office should currently only be used for storage and retrieval of APO's items.</li></ul>
  <li>Before entering the office, use this site to check if anyone has signed out in the last 15 minutes (<a [routerLink]="['']">this page</a>).</li>
  <li>Wipe down everything touched (including items you brought to store in the office) with the hand sanitizer and wipes near the door.</li>
  <li>Sign out using this <a href="https://forms.gle/8cywahopHKMV3CbG6" target="_blank">Google Form</a> to potentially facilitate contact tracing.</li>
</ul>
